.root {
  display: flex;
  flex-direction: column;
}

.padding_0 {
  padding: 0;
}

.padding_s {
  padding: var(--space-s);
}

.padding_m {
  padding: var(--space-m);
}

.padding_l {
  padding: var(--space-l);
}

.gap_0 {
  gap: 0;
}

.gap_s {
  gap: var(--space-s);
}

.gap_m {
  gap: var(--space-m);
}

.gap_l {
  gap: var(--space-l);
}

.bg {
  background-color: var(--gray-dark);
  border-radius: var(--border-radius-l);
}

.horizontal {
  flex-direction: row;
}

.justifyContent_center {
  justify-content: center;
}

.justifyContent_start {
  justify-content: flex-start;
}

.justifyContent_end {
  justify-content: flex-end;
}

.justifyContent_space-between {
  justify-content: space-between;
}

.alignItems_center {
  align-items: center;
}

.alignItems_start {
  align-items: flex-start;
}

.alignItems_end {
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}
