.wrap {
  width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  border-radius: var(--border-radius-s);
  height: fit-content;
  background-color: var(--gray-dark);
}

.wrap h3 {
  text-align: center;
}

.email {
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .wrap {
    width: 100%;
  }
}
