.EternalDiscussionsList {
  max-width: 600px;
  min-width: 600px;
  height: 380px;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  transition: 0.3s;
  background-color: var(--gray-dark);
  text-decoration: none;
  padding: 10px 20px 15px;
  border-radius: 4px;
  overflow: hidden;
}

.EternalDiscussionsList:hover {
  text-decoration: none;
  border: 0;
}

.EternalDiscussionsList h1 {
  padding-top: 8px;
}

.EternalDiscussionsList img {
  width: 80px;
  min-width: 80px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 2px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 86px);
  width: calc(100% - 40px);
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.item:hover div span {
  color: var(--secondary-light);
}

.title {
  line-height: 20px;
}

.more {
  padding: 8px 16px;
  border: 1px solid var(--gray-lighter);
  color: var(--white-text);
  border-radius: 2px;
  font-weight: normal;
  transition: 0.2s;
}
.more:hover {
  border-color: var(--secondary-dark);
  color: var(--secondary-dark);
  text-decoration: none;
}

.commentsIcon {
  white-space: nowrap;
  display: inline-block;
  color: var(--white-text);
}

.commentsIcon i {
  margin: 0 0 0 5px;
}

@media (max-width: 1350px) {
  .EternalDiscussionsList {
    max-width: 450px;
    min-width: 450px;
  }
}

@media (max-width: 1023px) {
  .EternalDiscussionsList {
    max-width: 350px;
    min-width: 350px;
  }
}

@media (max-width: 900px) {
  .EternalDiscussionsList {
    max-width: 600px;
    min-width: 600px;
    height: 280px;
  }
  .EternalDiscussionsList h1 {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .EternalDiscussionsList {
    max-width: 100%;
    min-width: 100%;
  }
}
