.size_xxl {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

.size_xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.size_l {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

.size_m {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.size_s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.size_xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.size_xxs {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}

.color_default {
  color: var(--white-text);
}

.color_primary {
  color: var(--primary);
}

.color_secondary {
  color: var(--secondary);
}

.bold {
  font-weight: bold;
}
