.wrap {
  padding: 40px 60px;
  background-color: var(--gray-dark);
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 800px) {
  .wrap {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .companyName {
    margin-bottom: 10px;
  }
}

.links {
  margin-bottom: 0;
  list-style: circle;
}

.wrap button {
  padding: 0;
}

.wrap a,
.wrap button,
.wrap sup,
.links li {
  color: #cdd6db;
  border: 0;
}

.wrap a:hover,
.wrap a:hover sup,
.wrap button:hover,
.faqLinks li a:hover {
  color: var(--primary);
  border: 0;
}

.signin {
  text-align: right;
}
