.discussion {
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discussion h1,
.discussion h2 {
  text-align: center;
  padding: 30px 20px 10px;
}

.discussion pre {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-family: 'Gilroy', sans-serif;
  white-space: pre-wrap;
  overflow: hidden;
}

.discussion img {
  background-color: var(--gray-white);
  object-fit: cover;
}

.discussion > a {
  display: block;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.dateAndLikes {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  margin-top: 12px;
}

.date {
  grid-area: date;
  justify-content: flex-end;
  color: var(--gray-text);
  text-align: right;
  font-size: 14px;
}

.surveyForm {
  border-top: 1px solid var(--gray-lighter);
  border-bottom: 1px solid var(--gray-lighter);
  padding: 15px 10px;
  width: 100%;
}

.surveyButton {
  width: 220px;
}

.body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.frame {
  width: 880px;
  height: 496px;
}

.category.category {
  cursor: default;
}

.category.category:hover {
  cursor: default;
  color: var(--gray);
}

.description,
.bodyText {
  margin-bottom: 12px;
  width: 800px;
}

.bodyText pre {
  margin-bottom: 0;
}

.url {
  margin-bottom: 12px;
}

@media (max-width: 1230px) {
  .body {
    width: 1100px;
    grid-template-columns: 780px 300px;
  }
  .discussion {
    margin: 15px 0 0 0;
  }
  .frame {
    width: 780px;
    height: 440px;
  }
}

@media (max-width: 1110px) {
  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .discussion {
    width: 100%;
    margin: 10px 0 0 0;
  }

  .discussion h1 {
    padding-top: 10px;
  }
  .frame {
    width: 600px;
    height: 338px;
  }

  .discussion img {
    width: 100vw;
  }

  .description,
  .bodyText {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .frame {
    width: 480px;
    height: 270px;
  }
}

@media (max-width: 500px) {
  .frame {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 380px) {
  .frame {
    width: 240px;
    height: 135px;
  }
}
