.howToLink {
  width: 100%;
  margin-bottom: 10px;
}

.howToLink button {
  width: 100%;
}

.list {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  list-style: none;
}

.listItem1::before,
.listItem2::before,
.listItem3::before,
.listItem4::before {
  padding-left: var(--space-s);
  font-size: var(--font-size-xl);
  margin-left: -40px;
  margin-right: 10px;
  top: 2px;
  position: relative;
}

.listItem1::before {
  content: '🤪';
}

.listItem2::before {
  content: '😅';
}

.listItem3::before {
  content: '🤑';
}

.listItem4::before {
  content: '🤗';
}
