.imageWrap {
  position: relative;
}

.imageWrap img {
  width: 100%;
}

.imageWrap button {
  background: transparent;
  border: 2px solid var(--gray);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.imageWrap button i {
  color: var(--gray);
}
