.panel.panel {
  padding: 10px;
  box-shadow: none;
  border-top: 1px solid var(--gray);
}

.subtitle.subtitle {
  padding-top: 0;
  color: var(--gray-text);
  text-align: center;
  line-height: 16px;
}

.children {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
