.userCardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 50px;
}

.userCardList > * {
  width: 220px;
  margin: 10px 10px;
}

.userCardList > *:last-child {
  margin-bottom: 8px;
}

@media (max-width: 1023px) {
  .userCardList {
    padding-left: 20px;
    justify-content: center;
    align-items: center;
  }
}
