.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarAndInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatarAndInfo > * {
  width: 50%;
  padding: 0 26px;
}

.avatar {
  display: flex;
  justify-content: flex-end;
}

.info {
  width: 300px;
}

.info h1 {
  text-align: left !important;
  padding-top: 12px;
}

.links {
  background-color: var(--gray-dark);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--border-radius-m);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding: 6px 0 12px 0;
}

.icons > div {
  margin-right: 30px;
}

.avatarAndInfo button {
  padding-left: 0;
}

@media (max-width: 800px) {
  .avatarAndInfo {
    flex-direction: column;
    align-items: center;
  }

  .avatarAndInfo > * {
    width: 100%;
  }

  .avatar {
    justify-content: center;
  }

  .icons {
    justify-content: center;
  }

  .info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .info h1 {
    text-align: center !important;
  }

  .icons > div {
    margin: 0 10px;
  }

  .avatarAndInfo button {
    padding-right: 0;
  }
}
