.expandable {
  position: relative;
  display: inline-block;
}

.expandableTitle {
  height: 100%;
}

.expandableChildren {
  width: fit-content;
  right: 0;
  top: 30px;
  padding: 10px 20px;
  position: absolute;
  z-index: 2;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: var(--gray-dark);
  overflow-x: auto;
}
