.dropdown-container {
  width: 254px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: var(--gray-dark);
  color: #9d9d9d;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
}

.dropdown-container > div:first-child {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

.dropdown-container.disabled {
  background-color: #f9f9fb;
}

.dropdown-container.round {
  border-radius: 20px;
}

.dropdown-container.active {
  color: #000;
}

.dropdown-container:disabled {
  color: #9d9d9d;
}

.dropdown-container::before {
  content: '';
  position: absolute;
  background-image: url('../../../img/icons/arrow.svg');
  background-repeat: no-repeat;
  top: 50%;
  margin-top: -2px;
  right: 15px;
  width: 10px;
  height: 10px;
  z-index: 1;
  pointer-events: none;
}

.dropdown-items-container {
  position: absolute;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  width: 100%;
  left: 0;
  background-color: var(--gray-dark);
  z-index: 2;
  overflow-x: auto;
  max-height: 205px;
}

.dropdown-items-container.round {
  border-radius: 20px;
}

.dropdown-items-container > div {
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  color: #000;
  cursor: pointer;
}

.dropdown-items-container > div.selected,
.dropdown-items-container > div:hover {
  background-color: #f9f9f9;
}

.dropdown-items-container > div:last-child {
  border-bottom: 0;
}
