.commentList {
  width: 100%;
}

.commentList > * {
  width: 100%;
}

.commentList .commentList > * {
  margin-bottom: 0;
}

.comment {
  margin-top: 20px;
}

.children {
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.025);
}

.children .children .children .children .children .children {
  padding-left: 0;
}

@media (max-width: 1023px) {
  .commentList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .children {
    padding-left: 5px;
  }
}
