.icon {
  font-style: normal;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  color: var(--black-icon);
}

.textIcon {
  font-weight: 600;
  color: var(--black-icon);
  display: inline-block;
  width: 12px;
  height: 18px;
  text-align: center;
  font-style: normal;
}

.clickable {
  cursor: pointer;
}
