.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray);
}

.wrap i {
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.children {
  color: var(--gray);
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .children {
    display: none;
  }
}
