.button {
  background-color: transparent;
  color: var(--gray);
  border: 0;
  border-radius: var(--border-radius-s);
}

.button > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button i {
  color: var(--gray);
  font-size: 26px;
  line-height: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray);
}

.button:hover {
  background-color: var(--gray-dark) !important;
  color: var(--primary);
}

.button:hover .label,
.button:hover > span > i {
  color: var(--primary);
}

@media (max-width: 920px) {
  .button {
    display: none;
  }
}
