.discussionCardBig {
  width: 600px;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--gray-dark);
  text-decoration: none;
  padding: 10px 10px 15px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 10px var(--black-shadow);
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content h3 {
  padding: 0;
  text-align: left;
  font-size: var(--font-size-xl);
}

.discussionCardBig:hover {
  text-decoration: none;
  border: 0;
}

.holywarLabel {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 10px;
}

.image {
  width: 210px;
  min-width: 210px;
  height: 210px;
  background-size: cover;
  background-position: center;
  background-color: var(--gray-light);
  padding: 1px;
  transition: 0.2s;
  text-align: center;
  border-radius: 6px;
  margin-right: 10px;
}

.discussionCardBig .title {
  text-align: left;
  display: block;
  padding: 0 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--white-text);
}

.text {
  text-decoration: none;
  color: var(--white-text);
  font-weight: normal;
  font-size: var(--font-size-m);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 209px;
  overflow: hidden;
  position: relative;
}

.text::before {
  content: ' ';
  box-shadow: 0px 0px 15px var(--gray-dark);
  position: absolute;
  width: 100%;
  height: 14px;
  z-index: 100;
  bottom: 0;
  bottom: -14px;
}

.discussionCardBig .title:hover,
.text:hover {
  text-decoration: none;
  color: var(--secondary);
}

.discussionCardBig:hover {
  text-decoration: none;
  color: var(--secondary);
}

.discussionCardLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.discussionCardLinksLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.discussionCardLinks a {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.discussionCardLinks a i {
  margin-right: 5px;
}

.category.category:hover {
  color: var(--gray);
  cursor: default;
}

.counts {
  color: var(--gray);
}

@media (max-width: 600px) {
  .discussionCardBig {
    width: 100vw;
    border-radius: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .image {
    width: 300px;
  }

  .text {
    max-height: unset;
    overflow: visible;
  }

  .text::before {
    display: none;
  }
}
