.createDiscussionLink {
  cursor: pointer;
  line-height: 14px;
}

.short {
  display: none;
}

@media (max-width: 680px) {
  .whole {
    display: none;
  }
  .short {
    display: inline;
  }
}
