.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body > div {
  display: flex;
  flex-direction: column;
}

.body h1,
.body p {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.close {
  position: absolute;
  right: 0;
  z-index: 10;
}
