.forgonAndSocial {
  display: flex;
  justify-content: space-between;
}

.forgonAndSocial a {
  margin-top: 0;
}

.signUp {
  width: 100%;
  text-align: center;
}

.social {
  display: flex;
  width: 72px;
  justify-content: space-between;
}

.social > * {
  cursor: pointer;
}

.policy {
  margin-top: 0;
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: var(--secondary-dark);
}

.policyLayout {
  margin-top: 10px;
}
