.wrap {
  text-align: center;
}

.wrap h3 {
  margin-top: 20px;
}

.wrap button {
  margin-top: 30px;
}

.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.users > div {
  width: fit-content;
  padding: 10px;
}

.sum {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 20px;
}
