.contentPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  min-width: 600px;
  width: 100%;
  min-height: calc(100vh - 356px);
  padding: 0 46px 30px 46px;
}

.contentPage h1,
.contentPage h2 {
  text-align: center;
}

@media (max-width: 600px) {
  .contentPage {
    min-width: 100%;
    width: 100%;
    padding: 0 10px 20px;
  }
}
