.layout {
  display: flex;
  justify-content: space-between;
}

.layout > * {
  padding: 10px;
}

.layout select {
  width: fit-content;
}

.paid {
  color: var(--green);
}

.declined {
  color: var(--alert);
}

.pending {
  color: var(--gray);
}
