.radio {
  padding-left: 0;
}

.radio > input[type='radio'] {
  display: none;
}

.radio > label {
  padding-left: 1.5em;
}

.radio > label::before {
  left: 0;
}

.radio > label::after {
  left: 0;
}
