.homePage {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.title {
  text-align: center;
}

.homePage h1,
.homePage h2 {
  text-align: center;
}

.left {
  background-color: var(--gray-dark);
  border-radius: var(--border-radius-l);
  width: 200px;
}

.right {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1200px) {
  .right {
    display: none;
  }
}

@media (max-width: 880px) {
  .left {
    display: none;
  }
}

@media (max-width: 600px) {
  .homePage {
    padding: 0;
  }
}
