.layout {
  display: flex;
  flex-direction: row;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: transparent;
  color: var(--white-text);
  text-decoration: none;
}

.layout:hover {
  text-decoration: none;
  border: 0;
}

.info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  max-height: 63px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}

.header.small {
  font-size: var(--font-size-l);
}

.stats {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.stats > * {
  margin-right: 10px;
  color: var(--white-text);
}

@media (max-width: 1023px) {
  .layout .header {
    max-height: 48px;
  }
}
