.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  background-color: var(--gray-white);
  border-radius: var(--border-radius-s);
  height: fit-content;
}

.wrap h3 {
  text-align: center;
}

.email {
  margin-bottom: 5px;
}

.signOut {
  color: var(--danger);
}

.icons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 140px;
}

.partnerProgram {
  padding: 6px 12px;
  color: var(--primary-dark);
}

.getMoney {
  color: var(--primary-dark);
}

.balanceDescription {
  color: var(--gray-text);
  text-align: center;
}

.level {
  color: var(--secondary-dark);
  border-radius: var(--border-radius-s);
  padding: 0 14px;
  font-weight: bold;
}

.levelProgress {
  color: var(--secondary-dark);
  border-radius: var(--border-radius-s);
  padding: 0 14px;
  font-size: 12px;
  margin: -5px 0 5px 0;
}

@media (max-width: 500px) {
  .icons {
    padding-left: 45%;
  }
}

@media (max-width: 350px) {
  .icons {
    padding-left: 40%;
  }
}
