.wrap {
  height: 180px;
  text-align: center;
}

.avatar {
  cursor: pointer;
}

.avatar:hover::before {
  background-color: var(--gray-light);
  content: 'Изменить';
  color: #000;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 160px;
}

.avatar:hover i {
  display: none;
}
