.wrap {
  display: flex;
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.wrap > div {
  text-align: center;
}

.wrap > div > div {
  text-align: center;
  justify-content: center;
}
