.wrap {
  width: 385px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px 0;
  background-color: var(--gray-dark);
}

.wrap h2 {
  padding-top: 0;
  font-size: 26px;
  text-align: center;
}

.wrap p,
.wrap h3 {
  text-align: center;
}

.textBox {
  margin-bottom: 10px;
}

.linkCopied {
  height: 30px;
}

.shareButtons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.shareButtons > * {
  cursor: pointer;
}

.shareDescription {
  color: var(--gray-text);
  text-align: center;
}

@media (max-width: 500px) {
  .wrap {
    width: 100%;
  }
}
