.header {
  z-index: 20;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-dark);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  margin-left: 20px;
  padding: 28px 0;
}

.menu a {
  font-size: 18px;
  color: var(--gray);
  font-weight: 600;
}

.menu a:hover {
  color: var(--primary);
}

.firstMenuLink {
  margin-right: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.headerCompanyName {
  font-size: 28px;
  line-height: 16px;
  text-decoration: none;
  color: white;
  padding: 30px;
  display: block;
  text-align: center;
  transition: 0.3s;
  white-space: nowrap;
  width: 240px;
}

.headerCompanyName_firstWord {
  transition: 0.3s;
  font-weight: bold;
  text-shadow: 0 0 5px var(--primary-light), 0 0 10px var(--primary-light),
    0 0 15px var(--primary), 0 0 20px var(--primary);
}

.headerCompanyName:hover {
  border: 0;
  text-decoration: none;
}

.headerCompanyName:hover .headerCompanyName_firstWord {
  color: white;
}

.headerCompanyName_secondWord {
  top: -18px;
  left: -16px;
  transform: rotate(10deg);
  color: var(--secondary-light);
  text-shadow: 0 0 5px var(--secondary-light), 0 0 10px var(--secondary);
  width: 0;
  font-size: 19px;
  display: inline-block;
  transition: 0.3s;
}

.headerCompanyName:hover .headerCompanyName_secondWord:hover {
  color: var(--secondary);
}

.headerLinks {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerLinks > a,
.headerLinks > div > a,
.headerLinks > button,
.headerLinks > div > div > button {
  transition: 0.3s;
  border-radius: var(--border-radius-s);
  padding: 3px 20px 4px 20px;
  height: 66px;
}

.headerLinks > a:hover,
.headerLinks > div > a:hover,
.headerLinks > button:hover,
.headerLinks > div > div > button:hover {
  color: var(--primary);
  background-color: var(--gray-dark);
  border: 0;
  text-decoration: none;
}

.headerLinks > a:hover > *,
.headerLinks > div > a:hover > *,
.headerLinks > button:hover > *,
.headerLinks > div > div > button:hover > * {
  color: var(--primary);
}

.headerLinks > *:last-child {
  margin-right: 0;
}

.about {
  color: #cdd6db;
  white-space: nowrap;
}

.slogan {
  font-size: 14px;
  position: relative;
  right: 280px;
  top: 14px;
  white-space: nowrap;
  text-align: right;
  display: inline-block;
  width: 300px;
  color: var(--gray);
}

.categories {
  color: var(--gray);
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.categories:hover {
  color: var(--primary);
  text-decoration: none;
}

.categories:focus {
  text-decoration: none;
}

.menuIcon {
  display: none;
}

@media (max-width: 1023px) {
  .menu {
    padding: 20px 0;
  }

  .faqIcon {
    display: none;
  }
}

@media (max-width: 900px) {
  .about {
    display: none;
  }
}

@media (max-width: 800px) {
  .header {
    padding-bottom: 0;
  }
  .top {
    height: 60px;
  }
  .menu {
    padding: 18px 0;
  }
  .headerCompanyName_firstWord {
    font-size: 24px;
  }
  .headerCompanyName_secondWord {
    font-size: 14px;
    top: -14px;
  }
  .slogan {
    font-size: 12px;
    position: relative;
    right: 290px;
    top: 11px;
  }
  .menu a {
    font-size: 16px;
    font-weight: normal;
  }
  .headerLinks {
    justify-content: space-around;
    margin: 0;
  }
  .headerCompanyName {
    margin-left: 0;
    width: 120px;
    padding: 18px 15px;
  }
  .headerLinks > div > a,
  .headerLinks > a,
  .headerLinks > button,
  .headerLinks > div > div > button {
    padding: 0;
    height: 40px;
  }
  .headerLinks > * i,
  .headerLinks > * > .avatar,
  .headerLinks > * button i,
  .headerLinks > * button span i {
    height: 30px;
  }

  .andEarn {
    display: none;
  }
  .createIconLabel {
    display: none;
  }
}

@media (max-width: 880px) {
  .menu {
    display: none;
  }
  .categories {
    display: none;
  }
}
