.layout {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 10;
}

.layout > * {
  padding: 2px 12px;
  margin: 0 2px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 600px) {
  .layout {
    position: static;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
  }
}
