.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 220px;
  background-color: var(--gray-dark);
  border-radius: var(--border-radius-m);
}

@media (max-width: 600px) {
  .root {
    width: 100vw;
    border-radius: 0;
  }
}
