.discussionCardList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noDiscussions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 220px;
}

.discussionCardList > * {
  margin-bottom: 30px;
}

@media (max-width: 1023px) {
  .big {
    width: 100%;
    display: flex;
  }
  .discussionCardList {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .discussionCardList > *:not(:last-child) {
    margin-bottom: 30px;
  }
  .noDiscussions {
    width: 100vw;
  }
}
