.showHideBig {
  font-size: 22px;
}
.instead1024,
.instead600 {
  display: none;
}
.showHideWrap1024,
.showHideWrap600 {
  display: none;
  text-align: center;
  line-height: 16px;
  margin-bottom: 10px;
}
.showHideWrap1024 > button,
.showHideWrap600 > button {
  line-height: 16px;
  padding: 0;
}

@media (max-width: 1023px) {
  .wrap1024 {
    display: none;
  }
  .instead1024 {
    display: block;
  }
  .showHideWrap1024 {
    display: block;
  }
}

@media (max-width: 600px) {
  .wrap600 {
    display: none;
  }
  .instead600 {
    display: block;
  }
  .showHideWrap600 {
    display: block;
  }
}
