.form {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-s);
  padding: 10px;
  position: relative;
}

.form textarea {
  background-color: var(--gray-textinput);
  color: var(--white-text);
  border-color: var(--gray-textinput-border);
  border-radius: 6px;
  padding: 2px 8px;
  outline: 0;
  min-height: 100px;
}

.form textarea:disabled {
  background-color: var(--gray-textinput-disabled);
  color: var(--gray-text);
}

.form textarea:hover,
.form textarea:focus {
  background-color: var(--gray-textinput);
  border-color: var(--primary-dark);
  color: var(--white-text);
}

.form button {
  max-width: 100px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.urlButton {
  border-radius: var(--border-radius-s);
  border: 1px solid var(--gray-lighter);
}

.imageWrap {
  width: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.image.image {
  object-fit: contain;
  width: 100%;
}
