
.icon-account_circle-24px:before { content: '\e800'; } /* '' */
.icon-add-24px:before { content: '\e801'; } /* '' */
.icon-insert_photo-24px:before { content: '\e802'; } /* '' */
.icon-link-24px:before { content: '\e803'; } /* '' */
.icon-notifications-24px:before { content: '\e804'; } /* '' */
.icon-subject-24px:before { content: '\e805'; } /* '' */
.icon-thumb_up-24px:before { content: '\e806'; } /* '' */
.icon-title-24px:before { content: '\e807'; } /* '' */
.icon-visibility-24px:before { content: '\e808'; } /* '' */
.icon-chat_bubble_outline-24px:before { content: '\e809'; } /* '' */
.icon-close-24px:before { content: '\e80a'; } /* '' */
.icon-person_add-24px:before { content: '\e80b'; } /* '' */
.icon-add_circle_outline-24px:before { content: '\e80c'; } /* '' */
.icon-contact_support-24px:before { content: '\e80d'; } /* '' */
.icon-settings_applications-24px:before { content: '\e80e'; } /* '' */
.icon-menu-24px:before { content: '\e80f'; } /* '' */