@font-face {
  font-family: 'holywar';
  src: url('../font/holywar.eot?9362897');
  src: url('../font/holywar.eot?9362897#iefix') format('embedded-opentype'),
       url('../font/holywar.woff2?9362897') format('woff2'),
       url('../font/holywar.woff?9362897') format('woff'),
       url('../font/holywar.ttf?9362897') format('truetype'),
       url('../font/holywar.svg?9362897#holywar') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'holywar';
    src: url('../font/holywar.svg?9362897#holywar') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "holywar";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-account_circle-24px:before { content: '\e800'; } /* '' */
.icon-add-24px:before { content: '\e801'; } /* '' */
.icon-insert_photo-24px:before { content: '\e802'; } /* '' */
.icon-link-24px:before { content: '\e803'; } /* '' */
.icon-notifications-24px:before { content: '\e804'; } /* '' */
.icon-subject-24px:before { content: '\e805'; } /* '' */
.icon-thumb_up-24px:before { content: '\e806'; } /* '' */
.icon-title-24px:before { content: '\e807'; } /* '' */
.icon-visibility-24px:before { content: '\e808'; } /* '' */
.icon-chat_bubble_outline-24px:before { content: '\e809'; } /* '' */
.icon-close-24px:before { content: '\e80a'; } /* '' */
.icon-person_add-24px:before { content: '\e80b'; } /* '' */
.icon-add_circle_outline-24px:before { content: '\e80c'; } /* '' */
.icon-contact_support-24px:before { content: '\e80d'; } /* '' */
.icon-settings_applications-24px:before { content: '\e80e'; } /* '' */
.icon-menu-24px:before { content: '\e80f'; } /* '' */