.discussionCard {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--gray-dark);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 10px var(--black-shadow);
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.discussionCard:hover {
  text-decoration: none;
  border: 0;
}

.holywarLabel {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 10px;
}

.image {
  width: 150px;
  background-size: cover;
  background-position: center;
  background-color: var(--gray-light);
  padding: 5px;
  transition: 0.2s;
  text-align: center;
  border-radius: 6px;
}

.discussionCard h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  color: var(--white-text);
}

.discussionCardInfo * {
  transition: 0.3s;
  color: #fff;
}

.discussionCardDescription {
  line-height: 18px;
  text-align: center;
}

.discussionCard button {
  font-size: 16px;
}

.discussionCardLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}

.discussionCardLinks a {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.discussionCardLinks a i {
  margin-right: 5px;
}

.fakeImg {
  min-height: 0;
  height: 100%;
  overflow: hidden;
  background-color: #c2cbd4;
}

.category.category {
  padding: 0;
}

.category.category:hover {
  color: var(--gray);
}

@media (max-width: 600px) {
  .discussionCard {
    width: 100%;
  }
}
