.spinner {
  display: inline-block;
  text-align: center;
  color: var(--gray);
}

.spinnerAbsolute {
  position: fixed;
  top: 50%;
  left: 50%;
}

.micro > div {
  width: 12px;
  height: 12px;
  border-width: 2px;
}
