.layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 10;
  padding: 10px;
}

.layout > * {
  padding: 2px 12px;
  margin: 4px 2px;
  text-align: left;
  font-size: var(--font-size-l);
}

.link {
  padding: 0 0 0 15px;
  color: var(--gray);
}

.settings {
  color: var(--gray);
}

@media (max-width: 640px) {
  .layout {
    display: none;
  }
}
