.formPage {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-self: center;
  padding: 30px 20px;
  width: 600px;
}

.formPageStrait {
  width: 400px;
}

.formPageWide {
  width: 800px;
}

.formPage h1 {
  text-align: center;
  width: 100%;
}

.formPage .errors-message {
  margin-top: 20px;
}

.formPage p {
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 600px) {
  .formPage {
    padding: 30px 10px;
    width: 100%;
  }

  .formPageStrait {
    width: 100%;
  }

  .formPageWide {
    width: 100%;
  }
}
