.wrap {
  width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.small {
  width: 600px;
}

.wide {
  width: 1200px;
}

@media (max-width: 1230px) {
  .wide {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .wrap {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 10px;
  }
  .small {
    width: 100%;
  }
}
