.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 90px;
  max-width: 120px;
}

.link span {
  color: var(--gray);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.link i {
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .link {
    max-width: 70px;
    min-width: 40px;
    margin-left: 15px;
  }
  .link span {
    display: none;
  }

  .avatar {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
  }
}
