.square {
  width: 600px;
  padding: 30px;
  height: 380px;
  background-color: var(--gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
}

.square:before {
  padding: 5px 10px;
  color: var(--gray);
}

.horizontal {
  width: 100%;
  min-height: 120px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

.vertical {
  height: 100%;
  min-width: 120px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.small {
  width: 300px;
  display: flex;
  justify-content: center;
}

.square > div,
.horizontal > div,
.small > div {
  width: 100%;
  height: 100%;
  min-height: 120px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
}

.square > div > ins,
.horizontal > div > ins,
.small > div > ins {
  width: 100%;
  height: 100%;
  min-height: 120px;
}

.fakeAd {
  background-image: url('/images/fake-ad.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 320px;
  width: 100%;
}

.fakeAdHorisontal {
  background-image: url('/images/fake-ad.jpg');
  background-repeat: repeat-x;
  height: 120px;
  width: 100%;
}

.fakeAdVertical {
  background-image: url('/images/fake-ad.jpg');
  background-repeat: repeat-y;
  width: 300px;
  height: 100%;
}

@media (max-width: 1350px) {
  .square {
    max-width: 450px;
    min-width: 450px;
  }
}

@media (max-width: 1023px) {
  .square {
    max-width: 350px;
    min-width: 350px;
  }
}

@media (max-width: 900px) {
  .square {
    max-width: 600px;
    min-width: 600px;
  }
}

@media (max-width: 600px) {
  .square {
    max-width: 100%;
    min-width: 100%;
  }
}
