.wrap {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px;
  width: 1200px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .wrap {
    width: 1000px;
  }
}

@media (max-width: 1023px) {
  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: center;
    margin-bottom: 20px;
  }

  .right {
    align-items: center;
  }
}
