.root {
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.color_default {
  border-color: var(--white-text);
}

.color_light {
  border-color: var(--gray);
}

.color_primary {
  border-color: var(--primary);
}

.color_secondary {
  border-color: var(--secondary);
}

.gap_0 {
  margin: 0 0 0;
}

.gap_s {
  margin: 0 0 var(--space-s);
}

.gap_m {
  margin: 0 0 var(--space-m);
}

.gap_l {
  margin: 0 0 var(--space-l);
}
