.root {
  position: fixed;
  width: 100vw;
}

.mainLink {
  font-weight: bold;
}

.close {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.mainLink:hover {
  color: var(--primary);
}

.mainLink,
.category {
  margin-top: 10px;
}

.category:last-child {
  margin-bottom: 10px;
}

.icon {
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  color: var(--gray);
  display: none;
  cursor: pointer;
}

.icon:hover {
  color: var(--primary);
}

.items {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  align-items: center;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  overflow: auto;
}

.settings {
  cursor: pointer;
}

@media (max-width: 880px) {
  .icon {
    display: unset;
  }

  .items {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--gray-dark);
    top: 0;
    left: 0;
    border-radius: 0;
    border: 0;
  }
}
