.comment {
  border-radius: var(--border-radius-l);
  width: 100%;
  background-color: var(--gray-dark);
  position: relative;
  padding: 16px 16px 26px;
}

.comment a {
  text-align: right;
}

.avatar {
  position: absolute;
  top: -4px;
  left: -20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.name {
  color: #828c9c;
  white-space: nowrap;
}

.name a {
  text-align: left;
}

.name * {
  display: inline-block;
  vertical-align: top;
}

.text {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  margin-bottom: 0;
  white-space: pre-wrap;
}

.text a {
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 11px;
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  right: 4px;
  bottom: 4px;
  padding-left: 26px;
}
.date {
  margin-left: 10px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  color: var(--gray-text);
}

.content {
  padding: var(--space-m) var(--space-m) 0;
}

.image {
  object-fit: contain;
  height: 200px;
  width: auto;
  align-self: flex-start;
}

@media (max-width: 600px) {
  .name a {
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .name span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
