.discussionCardForm {
  margin-top: 10px;
}
.discussionCardForm textarea {
  margin-bottom: 10px;
}
.image {
  width: 100%;
  margin-bottom: 10px;
}
.addLayout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addLayout label {
  color: var(--gray-text);
}

.addBodyItemIcon {
  margin-left: 10px;
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius-s);
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

.addBodyItemIcon:hover {
  border: 1px solid var(--gray);
}
.bodyItem {
  position: relative;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.withBodyCard {
  border: 1px solid var(--gray-light);
  padding: 15px 15px 5px 15px;
  border-radius: var(--border-radius-s);
  margin-bottom: 10px;
}
.bodyDelimiter {
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: dashed;
}
.submit {
  margin-bottom: 10px;
}
.addSurveyItem {
  margin-top: 0;
  width: 180px;
  padding-left: 0;
  text-align: left;
}
.tooltipIcon {
  cursor: pointer;
}
