.description {
  width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  flex-direction: column;
  width: 870px;
  margin: 20px 0;
  background-color: var(--gray-dark);
  padding: 20px 30px;
}

.accent {
  display: flex;
  margin: 20px 0;
}

.accentItem {
  margin: 0 15px;
  background-color: var(--gray-dark);
  padding: 20px 30px 0 30px;
  width: 270px;
}

.accentItemChildren {
  font-size: 68px;
}

.accentLabel {
  text-align: center;
}

.balanceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balanceDescription {
  color: var(--gray-text);
  width: 780px;
  text-align: center;
}

.money {
  justify-content: center;
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 10px;
}

.money i {
  margin-right: 10px;
}

.other {
  display: flex;
  background-color: var(--gray-dark);
  margin-bottom: 80px;
  padding: 20px 30px 10px 30px;
}

.otherItem {
  margin: 0 10px;
  width: 95px;
}

.otherItemChildren {
  font-size: 52px;
}
