.likes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.likes span {
  min-width: 14px;
  height: 24px;
  text-align: center;
  margin: 0 3px;
}
.likesIcon {
  margin-top: -9px;
}

.likesCount,
.dislikesCount {
  font-size: var(--font-size-l);
  font-weight: 600;
}

.likesIcon,
.likesCount {
  color: #458b1d;
}

.dislikesIcon,
.dislikesCount {
  color: #ce113a;
}

.dislikesIcon {
  transform: scaleY(-1);
}

.likesIcon,
.dislikesIcon {
  cursor: pointer;
  height: 18px;
  opacity: 0.7;
  font-size: 20px;
}

.likesIcon:hover,
.dislikesIcon:hover {
  opacity: 1;
}

.spinner {
  width: 14px;
  height: 24px;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
