.category {
  border: 0;
  color: var(--gray);
  font-weight: 600;
  font-size: 16px;
  padding: 2px 8px;
  transition: 0.2s;
  cursor: pointer;
  transition: var(--transition);
}

.category:hover {
  color: var(--primary);
}

.category:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}

.inactive {
  color: var(--gray-light);
}

.inactive:hover {
  color: var(--primary-light);
}
