@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('/font/Gilroy-ExtraBold.otf');
  font-weight: bold;
  font-style: normal;
}
