html {
  height: 100%;
}

body {
  margin: 0;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: var(--white-text);
  background-color: #121721;

  font-family: 'Gilroy', sans-serif;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: normal;

  --primary: #f80260;
  --primary-light: #ff2f6d;
  --primary-dark: #ec0451;
  --secondary: #ffd900;
  --secondary-light: #ffd13b;
  --secondary-white: #f3eac2;
  --secondary-white-gray: #f5edd4;
  --secondary-dark: #c49821;
  --gray: #748cb5;
  --gray-light: #cdd6db;
  --gray-lighter: #e3e8ea;
  --gray-white: #f2f6f8;
  --gray-dark: #272f3e;
  --gray-text: #a3abaf;
  --gray-textinput: #272f3e;
  --gray-textinput-disabled: #717988;
  --gray-textinput-border: #717988;
  --text-border: #ced4da;
  --white-text: #e3e8ea;
  --black-text: #333;
  --black-icon: #3e6990;
  --black-shadow: #0d1218;
  --alert: #f34f4f;
  --green: #76ca3e;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;

  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;

  /* font-size */

  --font-size-xxl: 32px;
  --font-size-xl: 22px;
  --font-size-l: 18px;
  --font-size-m: 15px;
  --font-size-s: 13px;
  --font-size-xs: 11px;
  --font-size-xxs: 10px;

  /* line-height */

  --line-height-xxl: 38px;
  --line-height-xl: 26px;
  --line-height-l: 22px;
  --line-height-m: 20px;
  --line-height-s: 18px;
  --line-height-xs: 16px;
  --line-height-xxs: 14px;
}

#root {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 15px 10px 10px;
  width: 100%;
}
h1,
h2 {
  padding: 30px 0 10px 0;
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
  font-weight: 600;
}
h3,
h4 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}
h5,
h6 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

@media (max-width: 1023px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  h1,
  h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
  h3,
  h4 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
  h5,
  h6 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: var(--white-text);
  text-decoration: none;
}

input:focus {
  z-index: 1;
  position: relative;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-light);
}

a:hover sup,
a:hover sub {
  text-decoration: none;
}

hr {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  margin: 0 0 30px 0;
}

b {
  font-family: 'Gilroy Bold';
}

form {
  width: 100%;
}

form input,
form select {
  margin-bottom: 10px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

form a {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}

p {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

.big-text {
  font-size: 22px;
}

.small {
  font-size: 100%;
}
