.button {
  border: 0;
  padding: 0;
  border-radius: var(--border-radius-s);
  height: 59px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: 10px;
}

.button > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button > span > i {
  color: var(--gray);
  vertical-align: middle;
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover > span > i,
.button:hover > span > span {
  color: var(--primary);
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray);
}

.button > i.hasUnread {
  color: var(--primary-dark);
}

.button > span > sup {
  color: var(--primary-dark);
  vertical-align: middle;
  margin-left: -3px;
  top: 0;
  right: 24px;
  font-weight: 600;
  background-color: #111;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  border-radius: var(--border-radius-s);
  font-family: 'Gilroy Bold';
}

.children {
  width: 400px;
  text-align: left;
}

.unreadMessage {
  overflow: hidden;
  white-space: normal;
  border-top: 1px solid var(--gray-light);
  padding: 10px 0;
}

.unreadMessage :last-child {
  padding-bottom: 10px;
}

.unreadMessage span {
  color: var(--gray-text);
}

.unreadMessage span a {
  font-weight: 300;
  color: var(--secondary);
}

.unreadMessage span a:hover {
  color: var(--secondary-light);
}

.green.green,
.addMoney.addMoney {
  font-weight: bold;
  color: var(--green);
}

.addMoney.addMoney i span {
  color: var(--green);
}

.red.red {
  font-weight: bold;
  color: var(--alert);
}

.yellow.yellow {
  font-weight: bold;
  color: var(--primary);
}

@media (max-width: 800px) {
  .children {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    border-radius: 0;
    border: 0;
  }
}

@media (max-width: 800px) {
  .label {
    display: none;
  }

  .button > span > sup {
    right: 0;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
  }
}
