.layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout span {
  margin: 0 5px 0 0;
}
.likesIcon {
  margin: -9px 5px 0 0;
}

.likesIcon,
.layout .likesCount {
  color: #458b1d;
}

.dislikesIcon,
.layout .dislikesCount {
  color: #ce113a;
}

.dislikesIcon {
  margin: 6px 5px 0 0;
  transform: scaleY(-1);
}

.likesIcon,
.dislikesIcon {
  height: 14px;
  font-size: var(--font-size-l);
}
