.avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-color: var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar i {
  color: #bec7cc;
}
.avatar i::before {
  margin: 0;
}

.avatar_xxs {
  max-width: 20px;
  min-width: 20px;
  height: 20px;
}
.avatar_xxs i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.avatar_xs {
  max-width: 30px;
  min-width: 30px;
  height: 30px;
}
.avatar_xs i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.avatar_s {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
}
.avatar_s i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}

.avatar_m {
  max-width: 80px;
  min-width: 80px;
  height: 80px;
}
.avatar_m i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 80px;
}

.avatar_l {
  max-width: 160px;
  min-width: 160px;
  height: 160px;
}
.avatar_l i {
  width: 160px;
  height: 160px;
  line-height: 160px;
  font-size: 160px;
}
